* {
    --primary-color: #fab600;
    --secondary-color: #fecd45;
}

* {
    @media (prefers-color-scheme: light) {
        --text-color: #202020;
        --primary-bg-color: #f8f8f8;
        --secondary-bg-color: #f4f4f4;
        --tertiary-bg-color: #e6e6e6;
    }
    
    @media (prefers-color-scheme: dark) {
        --text-color: #f3f3f3;
        --primary-bg-color: #202020;
        --secondary-bg-color: #292929;
        --tertiary-bg-color: #404040;
    }
}

html {
    font-family: Titillium, 'Titillium Web', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

h1 {
    text-align: center;
}

button.rectangle {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.primary {
    background-color: var(--primary-color);
    color: #122542;

    &:hover {
        background-color: var(--secondary-color);
    }
}

section {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 70%; margin-left: 15%;
    background-color: var(--primary-bg-color);
}

input {
    padding: 0.5rem;
    border: 2px solid var(--tertiary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);

    &:disabled {
        background-color: var(--primary-bg-color);
        color: var(--tertiary-bg-color);
    }
    &:focus {
        outline: none;
        border:2px solid #fab600;
    }
    &:user-invalid {
        border: 2px solid red;
    }
}

label {
    font-size: 1rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
}

select {
    padding: 0.5rem;
    border: 2px solid var(--tertiary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
        margin: 0;
    }

    input {
        margin: 0;
        margin-right: 0.5rem;
    }
}

section div:nth-child(2) {
    display: flex;
    justify-content: center; align-items: center;
}

#signature_container {
    overflow-x: scroll;
    width: fit-content; max-width: 100%;
    border-radius: 1rem;
    background-color: #fff;
    @media screen and (max-width: 768px) {
        margin-top: 2rem;
    }
}

#signature {
    padding: 1rem;
    width: max-content;
}

footer {
    text-align: center;
    margin-top: 2rem;

    a {
        color: var(--text-color);
    }
}


#how_to_button {
    display: block;
    margin: 1rem auto;
}

#how_to_dialog {
    padding: .5rem 2rem;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    border: var(--secondary-bg-color) 2px solid;
    border-radius: 1rem;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}

#how_to_dialog .close_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    background-color: var(--primary-bg-color);
    width: 3rem; height: 3rem;
    border-radius: 50%;
    border: none;
    font-size: 0;
    cursor: pointer;

    &::before {
        content: '✖';
        font-size: 2rem;
        color: var(--text-color);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}

#how_to_dialog h2 {
    max-width: calc(100% - 2rem);
    text-align: center;
}

#how_to_dialog figure {
    margin: 0;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;

        &:nth-child(2n) figcaption {
            order: -1;
        }
        &:nth-child(2n) img:hover {
            transform: scale(2) translateX(-25%);
        }
        &:nth-child(2n+1) img:hover {
            transform: scale(2) translateX(25%);
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
}

#how_to_dialog figure img {
    max-width: 300px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}