* {
    --primary-color: #fab600;
    --secondary-color: #fecd45;
}

* {
@media (prefers-color-scheme: light) {
        --text-color: #202020;
        --primary-bg-color: #f8f8f8;
        --secondary-bg-color: #f4f4f4;
        --tertiary-bg-color: #e6e6e6;
    }
    
@media (prefers-color-scheme: dark) {
        --text-color: #f3f3f3;
        --primary-bg-color: #202020;
        --secondary-bg-color: #292929;
        --tertiary-bg-color: #404040;
    }
}

html {
    font-family: Titillium, 'Titillium Web', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

    h1 {
        text-align: center;
    }

button.rectangle {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.primary {
    background-color: var(--primary-color);
    color: #122542;

    &:hover {
        background-color: var(--secondary-color);
    }
}

section {
    display: grid;
        
    @media (max-width: 768px) {
        grid-template-rows: repeat(2, 1fr);
    }
    @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
}
}

form {
    display: flex;
    flex-direction: column;
    width: 70%; margin-left: 15%;
    background-color: var(--primary-bg-color);
}

input {
    padding: 0.5rem;
    border: 2px solid var(--tertiary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);

    &:disabled {
    background-color: var(--primary-bg-color);
    color: var(--tertiary-bg-color);
}
    &:focus {
    outline: none;
    border:2px solid #fab600;
    }
    &:user-invalid {
        border: 2px solid red;
    }
}

label {
    font-size: 1rem;
    margin-bottom: .25rem;
    margin-left: .5rem;
}

select {
    padding: 0.5rem;
    border: 2px solid var(--tertiary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
    margin: 0;
}

    input {
    margin: 0;
    margin-right: 0.5rem;
}
}

    #signature_container {
        display: flex;
        justify-content: center;
    @media screen and (max-width: 768px) {
        align-items: start;
        margin-top: 2rem;
}
@media screen and (min-width: 768px) {
        align-items: center;
    }
}

#signature {
    background-color: #fff;
    padding: 2rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

footer a {
    color: var(--text-color);
}